a:link{
color:#D03505;
}
a:visited{
color:#FF7045;
}
a:active{
color:#E44D03;
}
body{
color:#6A6A6A;
background-color:#FFFFFF;
}
h1{
color:#6A6A6A;
}
h2, marquee{
color:#6A6A6A;
}
h3{
color:#6A6A6A;
}
h4{
color:#6A6A6A;
}
h5{
color:#6A6A6A;
}
h6{
color:#6A6A6A;
}
label, .MSTHEME-LABEL{
color:#6A6A6A;
}
FIELDSET{
border-color:#BBBBBB;
color:#000000;
}
LEGEND{
color:#6A6A6A;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#DADAD;
table-border-color-dark:#9A9A9A;
border-color:#333333;
color:#6A6A6A;
}
CAPTION{
color:#6A6A6A;
}
TH{
color:#6A6A6A;
}
HR{
color:#9A9A9A;
}
TD{
border-color:#333333;
}
