a:link{
color:#FF3C00;
}
a:visited{
color:#DF9300;
}
a:active{
color:#FFA800;
}
body{
color:#00277A;
background-color:#FFFFFF;
}
h1{
color:#00277A;
}
h2, marquee{
color:#00277A;
}
h3{
color:#00277A;
}
h4{
color:#00277A;
}
h5{
color:#00277A;
}
h6{
color:#00277A;
}
label, .MSTHEME-LABEL{
color:#00277A;
}
FIELDSET{
border-color:#9A9A9A;
color:#00277A;
}
LEGEND{
color:#00277A;
}
SELECT{
border-color:#ECECEC;
color:#000000;
}
TABLE{
table-border-color-light:#FF9575;
table-border-color-dark:#993300;
border-color:#333333;
color:#00277A;
}
CAPTION{
color:#00277A;
}
TH{
color:#00277A;
}
HR{
color:#9A9A9A;
}
TD{
border-color:#333333;
}
